.editor-container {
  height: 100%;
  width: calc(100% - 300px);
  box-sizing: border-box;
  position: absolute;
  left: 300px;
}

.note-title-input {
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  font-size: calc(12px + 1vmin);
}