.notelist-container {
  height: 100%;
  width: 300px;
  position: absolute;
}

.new-note-btn {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
}

.new-note-input {
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  font-size: calc(10px + 0.5vmin);
}

.new-note-submit-btn {
  height: 42px;
  width: 100%;
  box-sizing: border-box;

  text-transform: uppercase;
}

.notelist-loading-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

.notelist-loadbar-container {
  width: 100%;
  margin-top: 4px;
}