.notelist-container {
  height: 100%;
  width: 300px;
  position: absolute;
}

.new-note-btn {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
}

.new-note-input {
  height: 42px;
  width: 100%;
  box-sizing: border-box;
  font-size: calc(10px + 0.5vmin);
}

.new-note-submit-btn {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
}